/* RESETS */
*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    height: 100vw;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input,
button{
    font: inherit;
}

header{
    height: 80px;
    padding: 0 1rem 0 1rem; 
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #CBD5E1;
}

.add-btns
{
    display: flex;
}

.add-btns button{
    margin-right: 1rem;
    background-color: #8B5CF6;
    border: 1px solid #8B5CF6;
    color: white;
    border-radius: 5px;
    padding: 0.5rem 1.25rem;
    cursor: pointer;
}

.add-btns button i{
    margin-right: 0.5m;
}














/* Learning area 
1. * selects all the items in the html file 
2. before and after selectors - insert something before or after the content
3. inherit is used to inherit parent properties to a child
*/


